<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
   
       <error_page>
           <exception_type>java.lang.Exception</exception_type>
           <location> /error.jsp</location>
       </error_page>


    <servlet>
        <servlet-name>SumServlet</servlet-name>
        <servlet-class>pradip.SumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSession</servlet-name>
        <servlet-class>pradip.CreateSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadSession</servlet-name>
        <servlet-class>pradip.ReadSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>pradip.cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCookie</servlet-name>
        <servlet-class>pradip.ReadCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInterfaceEx</servlet-name>
        <servlet-class>pradip.ServletInterfaceEx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpServlet</servlet-name>
        <servlet-class>pradip.HttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpServletEx</servlet-name>
        <servlet-class>pradip.HttpServletEx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericServlet</servlet-name>
        <servlet-class>pradip.GenericServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>pradip.Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>pradip.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>pradip.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdmin</servlet-name>
        <servlet-class>pradip.DashboardAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pradip.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SumServlet</servlet-name>
        <url-pattern>/SumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSession</servlet-name>
        <url-pattern>/CreateSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadSession</servlet-name>
        <url-pattern>/ReadSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCookie</servlet-name>
        <url-pattern>/ReadCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInterfaceEx</servlet-name>
        <url-pattern>/ServletInterfaceEx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpServlet</servlet-name>
        <url-pattern>/HttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpServletEx</servlet-name>
        <url-pattern>/HttpServletEx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericServlet</servlet-name>
        <url-pattern>/GenericServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdmin</servlet-name>
        <url-pattern>/DashboardAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
